@media only screen and (min-width: 767px) and (max-width: 1049px) {
  :root {
    --background-color: rgb(39, 36, 47); /* Primärfärg bakgrund 39, 36, 47 */
    --background-color2: rgb(218, 93, 93);
    --primary-text-color: rgb(235, 235, 235); /* Primär Textfärg */
    --secondary-text-color1: rgb(255, 242, 97); /* Hover-länkar */
    --secondary-text-color2: rgb(255, 245, 196);
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: default; /* Säkerställer att muspekaren inte ändras till textmarkör */
    user-select: none; /* Förhindrar att texten markeras  */
    overflow: hidden; /* Hindrar skrollning av sidan */
    background-color: var(--background-color);

    /* pointer-events: none;  Förhindrar alla användarinteraktioner, inklusive att få fokus */
  }

  html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* START - ANIMERING */

  #start {
    width: 100%; /* Full bredd på webbläsarfönstret */
    height: 100vh; /* Full höjd på webbläsarfönstret */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: bottom; /* Gör så att bilden utgår från botten och ej toppen */
    background-attachment: fixed; /* Förhindrar skalning */
    background-image: url("../assets/Startsida.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ser till att bildens proportioner bibehålls och fyller hela fönstret */
    animation: fadeOut 4s ease-out forwards; /* Animationen */
  }

  #logotypeStart {
    width: 10vw;
    max-width: 90%;
    animation: fadeInOutScale 3s ease-in-out forwards; /* Animationen */
  }

  #logotypeTextStart {
    margin-top: 3%;
    width: 30vw;
    max-width: 90%;
    animation: fadeInOutScale 3s ease-in-out forwards; /* Animationen */
  }

  /* HEMSKÄRM NAVIGATION*/

  #navigation {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 100%;
    mix-blend-mode: difference;
    transition: mix-blend-mode 5s ease-in-out;
  }

  #containerLogotype {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    mix-blend-mode: overlay;
  }

  #logotypeTop {
    width: 75px;
    max-width: 90%;
    transition: transform 0.5s ease;
  }

  #logotypeTop:hover {
    transform: scale(1.2);
  }

  #rubrik {
    /*    background-color: rgba(0, 255, 255, 0.103); */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: lighter;
    color: var(--primary-text-color);
    margin-top: auto;
    margin-left: 5%;
    transition: opacity 1s ease;
  }

  #containerLinks {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 4%;
  }

  #contactBotton {
    height: 40px;
    width: 110px;
    display: inline-flex; /* Gör att du kan använda flexbox för inline-element */
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--primary-text-color);
    text-decoration: none; /* Tar bort understrykning */
    transition: transform 0.5s ease, color 0.5s ease;
  }

  #contactBotton::before {
    content: ""; /* Gör så att pseudo-elementet faktiskt syns */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.001); /* Bakgrund som du vill sudda */
    z-index: -1; /* Gör så att pseudo-elementet ligger bakom texten */
    border-radius: 5px;
  }

  #contactBotton:hover::before {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 244, 128, 0.081);
  }

  #contactBotton:hover {
    transform: scale(1.1);
    color: var(--secondary-text-color1);
  }

  #containerMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-left: 3%;
    transition: transform 0.5s ease;
  }

  #menyText {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    font-size: 1em;
    margin-right: 8%;
    transition: transform 0.5s ease, color 0.5s ease;
  }

  #containerMenu:hover #menyText {
    transform: scale(1.1);
    color: var(--secondary-text-color1);
  }

  #containerMenu:hover {
    transform: scale(1.1);
  }

  #containerMenu::before {
    content: ""; /* Gör så att pseudo-elementet faktiskt syns */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.001); /* Bakgrund som du vill sudda */
    z-index: -1; /* Gör så att pseudo-elementet ligger bakom texten */
    border-radius: 5px;
  }

  #containerMenu:hover::before {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 244, 128, 0.081);
  }

  #containerMenu:hover rect {
    fill: rgb(255, 247, 156); /* Färgar SVG:n gul */
  }

  rect {
    fill: var(--primary-text-color);
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  rect.active {
    transform: rotate(45deg);
  }

  /*  MENY´SIDA */

  #menuScreen {
    height: 0vh;
    width: 100%;
    background-color: var(--background-color);
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 1s ease, opacity 1s ease;
    z-index: 20;
  }

  #menuScreen.open {
    height: 100vh;
    opacity: 1;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: block; /* Se till att listobjekten är blocknivå och inte inline */
  }

  .menuLink {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: var(--primary-text-color);
    text-decoration: none; /* Tar bort understrykning */
    cursor: pointer;
    margin-bottom: 40px;
    transition: transform 0.5s ease;
    z-index: 20;
  }
  .menuLink:hover {
    transform: scale(1.1);
  }

  .menuScreenLinksContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 260px;
    display: flex;
  }

  .menuScreenLinks {
    display: inline-block;
    width: 100%;
    margin-left: 5px;
  }

  .menuScreenLinks a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--primary-text-color);
    text-decoration: none;
    margin-left: 5px;
    position: relative;
  }

  .menuScreenLinks a::after {
    content: ""; /* Skapar ett tomt element för understrykningen */
    position: absolute;
    bottom: 0; /* Sätter den vid botten av texten */
    left: 0; /* Börjar från vänster */
    width: 0%; /* Initial bredd är 0% */
    height: 2px; /* Tjocklek på understrykningen */
    background-color: var(--primary-text-color);
    transition: width 0.5s ease; /* Gör så att bredden förändras med en smidig övergång */
    z-index: 12;
  }

  .menuScreenLinks a:hover::after {
    width: 100%;
  }

  .menuScreenLinks img {
    width: 20px;
    margin-left: 20px;
  }

  /* HEMSKÄRM INNEHÅLL VIDEO*/

  #videoContainer {
    width: 100%;
    height: 110vh;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: -1;
  }
  #backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
    filter: grayscale(0%) brightness(0.8);
  }

  #gradientOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(39, 36, 47, 0) 0%,
      rgba(39, 36, 47, 0.014) 60%,
      rgba(39, 36, 47, 0.515) 80%,
      rgba(39, 36, 47, 0.87) 90%,
      rgb(39, 36, 47) 100%
    );
  }

  #containerText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 13%;
    width: 70%;
    height: 50%;
  }

  #motto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9vw;
    font-weight: bolder;
    color: var(--primary-text-color);
    position: relative;
    mix-blend-mode: difference;
  }

  #underrubrik {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: lighter;
    color: var(--primary-text-color);
    position: relative;
    left: 10px;
  }

  #linkContainer {
    display: flex;
    position: relative;
  }

  #linkContainer > :nth-child(2) {
    margin-left: 10px;
  }

  #linkContainer img {
    margin-right: 10px;
    width: 20px; /* Justera bredden */
    height: auto; /* Bevara bildens proportioner */
  }

  .linkHome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--primary-text-color);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding: 10px;
    transition: transform 0.5s ease, color 0.5s ease;
  }

  .linkHome::before {
    content: ""; /* Gör så att pseudo-elementet faktiskt syns */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.001); /* Bakgrund som du vill sudda */
    z-index: -1; /* Gör så att pseudo-elementet ligger bakom texten */
    border-radius: 5px;
  }

  .linkHome:hover::before {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 244, 128, 0.081);
  }

  .linkHome:hover {
    transform: scale(1.1);
    color: var(--secondary-text-color1);
  }

  /* HEMSKÄRM INNEHÅLL UNDER VIDEO*/

  /* Bakgrunsfärg */
  #infoContainer {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
  }

  #firstInfo {
    width: 70%;
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Skapar 6 kolumner */
    grid-template-rows: repeat(6, 1fr); /* Skapar 5 rader */
    grid-template-areas:
      "grid1 grid1 grid1"
      "grid1 grid1 grid1"
      "grid1 grid1 grid1"
      "grid2 grid2 grid2"
      "grid3 grid3 grid3"
      "grid4 grid4 grid4";
    grid-row-gap: 20px;
    padding-bottom: 50px;
  }

  #grid1 {
    grid-area: grid1;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #grid1 div {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
  }

  #grid2 {
    grid-area: grid2;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #grid2 div {
    display: flex;
  }

  #grid2 div img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }

  #grid3 {
    grid-area: grid3;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #grid3 div {
    display: flex;
  }

  #grid3 div img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }

  #grid4 {
    grid-area: grid4;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #grid4 div {
    display: flex;
  }

  #grid4 div img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }

  .headerService {
    margin: 10px;
  }

  h3 {
    /* Rubrik info */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-text-color);
    margin: 0px;
  }

  h4 {
    /* Rubrik tjänster */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-text-color);
    margin: 0px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.5;
    color: var(--primary-text-color);
  }

  .infoLink {
    position: relative;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--primary-text-color);
    text-decoration: none; /* Tar bort understrykning */
    transition: transform 0.5s ease, color 0.5s ease;
    padding: 10px;
  }

  .infoLink:hover {
    color: var(--secondary-text-color2);
    transform: scale(1.1);
  }

  .infoLink img {
    margin-right: 10px;
    width: 20px; /* Justera bredden */
    height: auto; /* Bevara bildens proportioner */
  }

  .infoLink::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.001); /* Bakgrund som du vill sudda */
    z-index: -1; /* Gör så att pseudo-elementet ligger bakom texten */
    border-radius: 5px;
  }

  .infoLink:hover::before {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 244, 128, 0.081);
  }

  #scrollLock {
    height: 295vh; /* Ta upp hela skärmen */
    width: 100%;
    position: relative;
    background-color: rgb(255, 109, 109);
  }

  #sticky {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    z-index: 1;
    background-image: url("./assets/sticky_scrollTabletLandscape.svg");
    background-size: cover;
    background-position: center center; /* Centrerar bilden i containern */
    background-repeat: no-repeat;
  }

  #imgLock {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 10;
    display: none;
  }

  .headerCase {
    white-space: nowrap;
    z-index: 20;
    position: absolute;
    top: 15%;
  }

  #caseImgLock {
    width: 35%;
    min-width: 200px;
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%) translate(-20vw, 2vh);
  }

  .mobileImg {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    display: none;
  }

  #secondInfo {
    width: 82%;
    height: 253vh;
    position: absolute;
    top: 0px;
    left: 9%;
    padding-top: 38vh;
  }

  .scrollText {
    height: 65vh;
    padding-left: 50%;
    padding-right: 10%;
  }

  .scrollText h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: var(--secondary-text-color2);
  }

  .scrollText a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--primary-text-color);
    /* z-index: 30; */
    position: relative;
    text-decoration: none;
  }

  #footerImg {
    width: 350px;
    transform: scaleX(1); /* Skala bilden på bredden */
    transform: scaleY(0.9); /* Skala bilden på höjden */
    transform-origin: center;
    position: relative;
    bottom: -85px;
    z-index: 10;
    filter: blur(0.5px);
    z-index: 0;
  }

  /*   FOOTER */

  footer {
    position: relative;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    z-index: 10;
  }

  footer .border {
    width: 80%; /* Border-topen är 80% av bredden */
    border-top: 1px solid var(--primary-text-color); /* Sätt din border-top, kan justeras efter behov */
    margin: 0 auto; /* Centrerar border-topen horisontellt */
    z-index: 11;
  }

  #footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    margin-top: 40px;
  }

  #footerText h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  #footerText a {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    font-size: 1rem;
  }

  #footerText p {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    font-size: 1rem;
    margin: 10px 0px 0px 0px;
  }

  #footerText img {
    width: 20px;
    margin-right: 10px;
  }

  #footerLink {
    text-align: right;
  }

  #footerLink a {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    font-size: 1rem;
    text-decoration: none;
  }

  #footerLink a::after {
    content: ""; /* Skapar ett tomt element för understrykningen */
    position: absolute;
    bottom: 0; /* Sätter den vid botten av texten */
    left: 0; /* Börjar från vänster */
    width: 0%; /* Initial bredd är 0% */
    height: 2px; /* Tjocklek på understrykningen */
    background-color: var(--primary-text-color);
    transition: width 0.5s ease; /* Gör så att bredden förändras med en smidig övergång */
    z-index: 12;
  }

  #footerLink a:hover::after {
    width: 100%;
  }

  #footerLink img {
    width: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }

  /*   PORTFOLIO SIDA INNEHÅLL */

  #contentPortfolio {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #infoContainerP {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }

  .headerPortfolio {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .headerPortfolio h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    font-size: 3.5rem;
  }

  .portfolioCaseLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  #caseBox1 {
    background-color: rgb(227, 160, 25);
  }

  #caseBox2 {
    background-color: rgb(255, 79, 97);
  }

  #caseBox3 {
    background-color: lightcoral;
  }

  #caseBox4 {
    background-color: rgb(92, 31, 215);
  }

  .portfolioCaseRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .headerCaseLeft {
    white-space: nowrap;
    color: var(--primary-text-color);
    font-size: 2.5rem;
  }

  .headerCaseRight {
    white-space: nowrap;
    color: var(--primary-text-color);
    font-size: 2.5rem;
  }

  .caseBoxL {
    border-radius: 15px;
    max-height: 700px;
    width: 80%;
    margin-top: 3%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height 1s ease-in;
    box-sizing: border-box;
    padding: 10px 50px 10px 50px;
  }

  .caseBoxL.expanded {
    max-height: 5000px; /* En högre max-höjd, eller tillräcklig för att visa allt innehåll */
  }

  .caseBoxR {
    border-radius: 15px;
    max-height: 700px;
    width: 80%;
    margin-top: 3%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height 1s ease-in;
    box-sizing: border-box;
    padding: 10px 50px 10px 50px;
  }

  .caseBoxR.expanded {
    max-height: 5000px; /* En högre max-höjd, eller tillräcklig för att visa allt innehåll */
  }

  .expandButtonR {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease-in, filter 0.3s ease-in;
  }

  .expandButtonR:hover {
    transform: scale(1.3);
    filter: invert(0.2);
  }

  .expandButtonL {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease-in, filter 0.3s ease-in;
  }

  .expandButtonL:hover {
    transform: scale(1.3);
    filter: invert(0.2);
  }

  .buttonImg {
    width: 20px;
  }

  .caseBoxContent {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: flex-start;
  }

  .ServiceColumnL,
  .ServiceColumnR {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .caseBoxImg {
    width: 100%;
    max-width: 500px;
    height: auto; /* Bibehåller proportionerna */
    object-fit: contain; /* Gör att bilden behåller sina proportioner och inte sträcks */
    max-height: 100%; /* Se till att bilden inte överskrider förälderns höjd */
    border-radius: 10px;
  }

  .CaseService {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-text-color2);
    padding: 20px;
    margin: 5px;
  }

  .caseText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--primary-text-color);
    padding: 20px;
  }

  /* TJÄNSTER SIDA INNEHÅLL */

  #contentServices {
    height: auto;
  }

  .headerServices {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .headerServices h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    font-size: 3.5rem;
  }

  #serviceJustify {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    position: relative;
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 10%;
  }

  main .serviceContainer:nth-child(1) {
    background-color: rgb(227, 160, 25);
  }

  main .serviceContainer:nth-child(2) {
    background-color: rgb(255, 79, 97);
  }

  main .serviceContainer:nth-child(3) {
    background-color: rgb(92, 31, 215);
  }

  .serviceContainer {
    position: relative;
    min-width: 300px;
    height: 550px;
    min-height: 550px;
    flex: 1 1 30%;
    border-radius: 15px;
    transition: transform 0.3s ease, filter 0.3s ease, width 0.5s ease;
    margin-bottom: 40px;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .serviceContainer.expanded {
    flex: 1 1 100%;
    order: 0;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .serviceContainer.expanded + .serviceContainer,
  .serviceContainer.expanded + .serviceContainer + .serviceContainer {
    flex: 1 1 50%;
  }

  .serviceContainer.expanded .serviceColumnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
  }

  .serviceContainer.expanded .serviceColumn {
    padding: 20px;
  }

  .serviceInfo {
    width: 80%;
    height: 100%;
    align-self: center;
    overflow: hidden;
  }

  .serviceInfo h2 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: var(--secondary-text-color2);
    padding-left: 5%;
  }

  .serviceColumn {
    padding: 0% 5% 5% 5%;
  }

  .serviceColumn p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--primary-text-color);
  }

  .serviceColumn img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
  }

  .expandButton {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color) !important;
    font-size: 1rem;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease-in, filter 0.3s ease-in;
  }

  .expandButton:hover {
    transform: scale(1.1);
    filter: invert(0.2);
  }

  /* CONTACT SIDA INNEHÅLL */

  #contentContact {
    position: relative;
    width: 100%;
  }

  #contactContainer {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .group {
    display: flex;
    flex-direction: row;
  }

  #contactContainer form legend {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
  }

  #contactContainer form label {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    font-size: 1.2rem;
  }

  .hiddenLabel {
    display: none;
  }

  .textInput {
    all: unset;
    background-color: darkslateblue;
    height: 35px;
    width: 250px;
    margin-right: 10px;
    color: var(--primary-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 5px;
    cursor: text;
  }

  .textInput::placeholder {
    color: var(--primary-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }

  #message {
    all: unset;
    background-color: darkslateblue;
    width: 517px;
    border-radius: 10px;
    height: 150px;
    padding: 10px 5px 10px 5px;
    color: var(--primary-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: text;
  }

  .textContainer {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 450px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .textContainer h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: var(--primary-text-color);
    letter-spacing: 0.1rem;
  }

  .textContainer img {
    width: 30px;
    margin-right: 5px;
  }

  .textContainer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--primary-text-color);
    text-decoration: none;
  }
  #submit {
    all: unset;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: var(--primary-text-color);
    background-color: none;
    transition: filter 0.3s ease;
    cursor: pointer;
  }

  #submit:hover {
    color: var(--secondary-text-color1);
    filter: brightness(0.8);
  }

  #send {
    position: absolute;
    margin-left: 10px;
    transition: transform 0.3s ease;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  #send:hover {
    transform: scale(1.1);
    transform-origin: center;
    box-shadow: 0 0px 5px rgba(217, 217, 217, 0.3);
    cursor: pointer;
  }

  form img {
    width: 25px;
    margin-left: 10px;
  }

  /* KEYFRAMES */

  /*  StartLogga */

  @keyframes fadeInOutScale {
    0% {
      opacity: 0.5;
      transform: scale(0.5); /* Starta bilden på 50% av sin storlek */
    }
    20% {
      opacity: 1;
      transform: scale(1.1); /* Gör bilden något större än normalt vid 20% */
    }

    40% {
      opacity: 1;
      transform: scale(1); /* Gör bilden något större än normalt vid 20% */
    }
    80% {
      opacity: 1;
      transform: scale(1); /* Återgå till normal storlek vid 80% */
    }
    90% {
      opacity: 1;
      transform: scale(1.2); /* Återgå till normal storlek vid 80% */
    }
    100% {
      opacity: 0;
      transform: scale(0.5); /* Gör bilden liten igen vid slutet */
    }
  }

  /*   Startbild */

  @keyframes fadeOut {
    0% {
      opacity: 1;
      height: 100vh;
    }

    80% {
      opacity: 1;
      height: 100vh;
    }

    100% {
      opacity: 1;
      height: 0vh;
    }
  }

  /*   Navigation */

  @keyframes fadeIn {
    0% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  /* Menyskärm */

  @keyframes closeMenu {
    0% {
      height: 0%;
      opacity: 0%;
    }

    100% {
      height: 100%;
      opacity: 100%;
    }
  }

  @keyframes openMenu {
    0% {
      height: 100%;
      opacity: 100%;
    }

    100% {
      height: 0%;
      opacity: 0%;
    }
  }
}
